<form {{action 'save' on='submit'}}>
  <h2>{{errorMessage}}</h2>
  <fieldset>
    {{input value=model.date        placeholder='Date'}}
    {{input value=model.description placeholder='Description'}}
    {{input value=model.duration    placeholder='0.0'}}
    <input type='submit' value='Save' class='primary'>
    <button {{action 'cancel'}}>Cancel</button>
  </fieldset>
</form>


