<table class='primary'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Duration</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |action|}}
      <tr>
        <td>{{action.date}}</td>
        <td>{{action.description}}</td>
        <td>{{action.duration}}</td>
        <td>
          <a href='#' {{action 'delete' action}}>delete</a>
          /
          {{link-to 'edit' 'actions.edit' action}}
        </td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>
