<form {{action 'save' on='submit'}}>
  <h2>{{errorMessage}}</h2>
  <fieldset>
    {{input value=model.title       placeholder='Title'}}
    {{input value=model.description placeholder='Description'}}
    {{input value=model.client      placeholder='Client'}}
    {{input value=model.email       placeholder='client@email.com'}}
    <input type='submit' value='Save' class='primary'>
    <button {{action 'cancel'}}>Cancel</button>
  </fieldset>
</form>

