<table class='primary'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Client</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |project|}}
      {{projects/project-row
        project=project
        save='save'
        projectStates=possibleStates
      }}
    {{/each}}
  </tbody>
</table>
