<div class='card project-profile'>
  <p>{{model.title}}</p>
  <p>{{model.description}}</p>
  <p>{{model.client}} ({{model.email}})</p>
  <p>{{link-to 'Add action' 'actions.new'}}</p>
  <p>{{link-to 'Edit' 'projects.edit' model}}</p>
  <p><a href='#' {{action 'delete' model}}>delete</a></p>
</div>

<div class='actions-container'>
  {{outlet}}
</div>
