<td>{{link-to project.title 'actions' project}}</td>
<td>{{project.client}}</td>
<td>
  {{#x-select value=project.state action='saveProject'}}
    {{#each projectStates as |state|}}
      {{#x-option value=state}}{{state}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</td>
<td>
  {{#if project.isSaving}}
    <p>Saving ...</p>
  {{/if}}
</td>
<td><a href='#' {{action 'delete' project}}>delete</a></td>
