<nav>
  {{link-to 'Projects' 'projects' class='brand'}}

  <!-- responsiveness -->
  <input class='show' id='bmenu' type='checkbox'>
  <label class='burger toggle pseudo button' for='bmenu'>menu</label>
  <!-- responsiveness -->

  <div class='menu'>
    {{link-to 'Dashboard'   'index'        class='pseudo button icon-gauge'}}
    {{link-to 'Projects'    'projects'     class='pseudo button doc'}}
    {{link-to 'New project' 'projects.new' class='pseudo button doc-add'}}
  </div>
</nav>
